* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: block;
  height: 100%;
  margin: auto;
  cursor: zoom-in;
  background-color: hsl(0, 0%, 90%);
  transition: background-color 300ms;
}

.Heading img {
  position: relative;
  width: 50px;

  .h1 {
    padding: 20px;
  }

}

#icon1 {
  bottom: 50px;
  left: 60%;
}

#icon2 {
  bottom: 40px;
  left: 65%;
}

#icon3 {
  bottom: 47px;
  left: 70%;
}


body {
  background-color: #0f172a;
  color: #f1f5f9;
  font-weight: 300;
  line-height: 1.6;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 10%;
  background-color: rgba(24, 36, 63, 0.844);
}

.logo {
  font-size: 20px;
  font-weight: bolder;
}

nav a {
  color: #fff;
  margin-left: 20px;
  font-size: 14px;
  transition: 0.3s;
}

nav a:hover {
  color: #38bdf8;

}

h1,
h2,
h3 {
  font-weight: 700;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5%;
  flex-wrap: wrap;
}

.hero-text {
  flex: 2;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  max-width: 600px;
}

.hero-img {
  display: flex;
  flex: -1;
  text-align: right;
  align-items: flex-end;

}

.hero-img img {
  justify-content: flex-end;
  width: 400px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  text-align: right;

}

.my-btn {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  transition: transform 0.9s ease-in;
}

.my-btn:hover {
  background-color: rgba(44, 69, 127, 0.844);
  color: white;
  transform: scale(1.05);
  transition: 0.9s ease;
}


.Highlights {
  font-family: 'Courier New', Courier, monospace;
  color: #38bdf8
}

.highlight {
  color: #38bdf8;
}

.skill sec-one {
  display: flex;
  flex-direction: column;
  justify-content: right;
  font-size: large;
  padding: 20px;

  span {
    color: #0f172a;
  }
}

progress {
  height: 20px;
}

progress::-webkit-progress-bar {
  background-color: #fff;
}

.skills-experience-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  height: 5%;
}


/* MY EXPERIENCE SECTIONS */
.my-experience {
  color: #fff;
  align-content: center;

  text-align: center;
}

.exp-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 40px;
}

.exp-box {
  background: #1e293b;
  padding: 30px;
  border-radius: 8px;
  transition: 0.3s;

}

.exp-box:hover {
  transform: translateY(-5px);
  background: gray;
  transition: 0.3s;
}

.my-experience h5,
h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

/* services */
.services {
  padding: 60px 10%;
  text-align: center;
}

.services h2,
h3 {
  font-size: 28px;
  color: #38bdf8;
  margin-bottom: 10px;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;

}

.service-box {
  background: #1e293b;
  padding: 30px;
  border-radius: 8px;
  transition: 0.3s;

  h4 {
    color: #38bdf8;
  }
}

.service-box:hover {
  transform: translateY(-5px);
  background: gray;
  transition: 0.3s;
}
/* my blog */
.My-blog {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: #fff;
}
.about {
  padding: 30px ;
  background: #181c28;
  text-align: center;
}


/* Responsive */
@media (min-width: 486px) and (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
    gap: 20px 10px;
  }

  .service-grid,
  .exp-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .skills-experience-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}